<h1 class="heading">Sachin's Portfolio</h1>
<h1>Hello Angular {{title}}</h1>
<h1>{{data}}</h1>
<h1>{{4*4}}</h1>
<app-login></app-login>
<app-user ></app-user> 
<app-student></app-student>
<app-country></app-country>
<app-signup></app-signup>
<app-loginup></app-loginup>
<button (click)="getName('SachinKaushik')">CLICK</button>
<br>
<button (click)="getStatus()">Call Function</button>
<br>
<input type="text" #box (keyup)="getData(box.value)" placeholder="event keyup"/>
<br>
<input type="text" #box1 (blur)="getData(box1.value)" placeholder="event blur"/>
<br>
<!-- <h1 (mouseover)="getData('Star')">Code By Sachin</h1> -->
<br>
<input type="text" #box (keyup)="getValue(box.value)" placeholder="Enter Name" name="name" />
<br>
<button (click)="counter('add')">++</button>
<p>Count :{{count}}</p>
<button  (click)="counter('sub')">--</button>
<br>
<input type="text" name="sname" [value]=name [disabled]=disable>
<br>
<!-- IF ELSE STATEMENT -->
<h1 *ngIf="show=='yes'; else elseBlock"> 
    <!--Suppose hume kisi string k baare m dekhna h to hum bs
    jo coondition hogi means suppose show h to show =='string name ' jo hum component m pass karnge -->
    code with Sachin
</h1>
<ng-template #elseBlock>  
    <h1>Else Condition</h1>
</ng-template>
<br>
<!-- ELSE IF STATEMENT -->
<ng-template [ngIf]="colors==='red'">
    <h1 style="color: red;">Red Color</h1>
</ng-template>
<ng-template [ngIf]="colors==='green'">
    <h1 style="color: green;">Green Color</h1>
</ng-template>
<ng-template [ngIf]="colors==='blue'"]>
    <h1 style="color: blue;">blue Color</h1>
</ng-template>
<br>
<!-- FOR SWITCH CASE -->
<div [ngSwitch]="colour">
<h1 *ngSwitchCase="'red'" style="color : red;" >Red color</h1>
<h1 *ngSwitchCase="'green'" style="color : green;" >Green color</h1>
<h1 *ngSwitchCase="'blue'" style="color : blue;" >Red color</h1>
<h1 *ngSwitchCase="'aqua'" style="color : aqua;" >Red color</h1>
<h1 *ngSwitchCase="'magenta'" style="color : magenta;" >Red color</h1>
<h1 *ngSwitchDefault>Unknown color</h1>
</div>

<!-- FOR LOOP -->
<h2 *ngFor="let item of users">Name is :{{item}}</h2>
<h2 *ngFor="let item of userDetails">{{item.name}}--{{item.email}}--{{item.phone}}</h2>

<!-- NESTED LOOP -->
<ul *ngFor="let client of clients">
    <li>{{client.name}}</li>
    <li>{{client.phone}}</li>
  
    <ul *ngFor="let account of client.socialAccounts">
        <li>{{account}}</li>
        <li>{{account}}</li>
        <li>{{account}}</li>
        <li>{{account}}</li>
        <li>{{account}}</li>
    </ul>
</ul>

<!-- STYLE BINDING -->
<h1 [style.color]="color" [style.bgColor]="bgColor">Style Binding</h1>
<button (click)="updateColor()">Update Color</button>

<!-- ANGULAR FORM -->
<h1>ANGULAR FORM</h1>
<form #basicForm="ngForm" (ngSubmit)="getFunction(basicForm.value)">
    <!-- basicForm is the name of the form
            assign krdiya basicForm ko ki ye ngForm h
        uske baad ek submit event lagana padga jiss se hum isko save krde
        then make a function 
        jo function banaya usme data bhi pass krna hoga jsime hum function ka naam pass kr denge
        iske baad jo bhi hamare fields honge uske sath ;agana hoga nfModel -->
    <input type="text" ngModel name="user"placeholder="Enter the User Name"/>
    <br>
    <input type="text" ngModel name="Email"placeholder="Enter the Email"/>
    <br>
    <input type="text" ngModel name="Password"placeholder="Enter the User Password"/>
    <br>
    <button>Register</button>
    
</form>

<!-- TOGGLE -->
<h1>Toggle Element </h1>

<button (click)="toggle()">Toggle</button>
<h1 *ngIf="display">
    Heading tag
</h1>

<br>
<h1>Material UI</h1>
<mat-slide-toggle>Toggle me!</mat-slide-toggle>

<div class="example-button-row">
    <button mat-raised-button>Basic</button>
    <button mat-raised-button color="primary">Primary</button>
    <button mat-raised-button color="accent">Accent</button>
    <button mat-raised-button color="warn">Warn</button>
    <button mat-raised-button disabled>Disabled</button>
    <a mat-raised-button href="https://www.google.com/" target="_blank">Link</a>
  </div>
<!-- SEND DATA parent TO child -->
  <br> <br>
  <h1>SEND DATA CHILD TO PARENT</h1>
  <app-child [saman]="datas"></app-child>  


  

  